<h1>Ask a Question</h1>

<form method="post" action="/questions">

  <label for="title">Title</label>
    <input name="title" type="text"/><br>

  <label for="content">Content</label>
    <textarea name="content"></textarea>

  <button type="submit">Submit</button>
</form>
