
<div class="container">
<h1>Login to Existing Account</h1>


<form action='/users/' method='post'>
    <label>E-mail</label>
    <input type='text' name='user[email]'><br>
    <label>Password</label>
    <input type='password' name='user[password]'><br>
    <input type='submit' value='Login'>
  </form>
